div {
	/*border: 1px solid #000;*/
}
.header a{
	text-decoration: none;
	color: red;
}
.title a{
	text-decoration: none;
	color: black;
}
.title a:visited{
	/*text-decoration: none;*/
	color: black;
}
.page {
	width:100%;
}
.cnt {
	width:60%;
	position: absolute;	
	margin-left: 20%;
	font-family: monospace;
}
.login{
	text-align:center;
}
.sidebar{
	position: relative;
	margin-left: 81%;
}
.header {
	text-align:left;
}
.body {
	text-align:left;
}

.single-post{

}
.separator{
	margin-top:20px;
}

.footer {
	text-align: left;
}